In [4]:
a=10
if a<15:
    print("my name is akshu")

my name is akshu

In [7]:
if 10<3:
    print("10 is lesser than 3")
else:
    print("statement is wrong")

statement is wrong

In [11]:
Total_price=int(input())
if Total_price>20000:
      discount=Total_price*.2
      print("discount will be",discount)
elif Total_price<=7000:
      discount=Total_price*.05
      print("discount wwill be",discount)
else:
      print("no discount")

25000
discount will be 5000.0

In [13]:
Total_price=int(input())
if Total_price>20000:
      discount=Total_price*.2
      print("discount will be",discount)
elif Total_price<=7000:
      discount=Total_price*.05
      print("discount wwill be",discount)
else:
      print("no discount")

8000
no discount

In [15]:
l=[1,2,3,4,5,6]
for i in l:
        print(i)

1
2
3
4
5
6

In [16]:
s="akshata"
for i in s:
    print(i)

a
k
s
h
a
t
a

In [18]:
l=[1,3,4.5,4+3j,"akshu"]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [24]:
l=[1,2,3.4]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
4
5.4

In [25]:
l1

[3, 4, 5.4]

In [32]:
l=[1,2,3.4,4+3j,[1,2,3]]
for i in l:
    if type(i)==float:
        print(i)

3.4

In [34]:
l=[1,2,3.4,4+3j,[1,2,3,"jeetu"]]
for i in l:
    if type(i)==int:
        print(i)
    elif type(i)==list:
       for j in i:
            if type(j)==int:
                print(j)

1
2
1
2
3

In [49]:
l=[1,2,4,4,"akshu",3.4,4+3j,[1,2,3,"jeetu"]]
len(l)

8

In [84]:
for i in range (len(l)):
    print("index",i,"is",l[i])

index 0 is 1
index 1 is 2
index 2 is 4
index 3 is 4
index 4 is akshu
index 5 is 3.4
index 6 is (4+3j)
index 7 is [1, 2, 3, 'jeetu']

In [50]:
for i in enumerate(l):
    print(i)

(0, 1)
(1, 2)
(2, 4)
(3, 4)
(4, 'akshu')
(5, 3.4)
(6, (4+3j))
(7, [1, 2, 3, 'jeetu'])

In [51]:
for i,j in enumerate(l):
    print(i,j)

0 1
1 2
2 4
3 4
4 akshu
5 3.4
6 (4+3j)
7 [1, 2, 3, 'jeetu']

In [52]:
l

[1, 2, 4, 4, 'akshu', 3.4, (4+3j), [1, 2, 3, 'jeetu']]

In [80]:
for i in (l):
    if type(i)==str:
        l1=[]
        for j in (i):
            l1.append(j)
        print(l1)

['a', 'k', 's', 'h', 'u']

In [75]:
l2=[]
for i in l:
    if type(i)==int:
        l2.append(i**2)

In [76]:
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
print('spam')
print('spam')

[1, 4, 16, 16]

In [97]:
for i in range(10):
    if i%2 == 0:
        print("Here...")
        continue
    if i== 7:
        break
    print(i)

Here...
1
Here...
3
Here...
5
Here...

In [ ]:
1
3
5