In [4]:
a=10
if a<15:
    print("my name is akshu")

my name is akshu

In [7]:
if 10<3:
    print("10 is lesser than 3")
else:
    print("statement is wrong")

statement is wrong

In [11]:
Total_price=int(input())
if Total_price>20000:
      discount=Total_price*.2
      print("discount will be",discount)
elif Total_price<=7000:
      discount=Total_price*.05
      print("discount wwill be",discount)
else:
      print("no discount")

25000
discount will be 5000.0

In [13]:
Total_price=int(input())
if Total_price>20000:
      discount=Total_price*.2
      print("discount will be",discount)
elif Total_price<=7000:
      discount=Total_price*.05
      print("discount wwill be",discount)
else:
      print("no discount")

8000
no discount

In [15]:
l=[1,2,3,4,5,6]
for i in l:
        print(i)

1
2
3
4
5
6

In [16]:
s="akshata"
for i in s:
    print(i)

a
k
s
h
a
t
a

In [18]:
l=[1,3,4.5,4+3j,"akshu"]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [24]:
l=[1,2,3.4]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
4
5.4

In [25]:
l1

[3, 4, 5.4]

In [32]:
l=[1,2,3.4,4+3j,[1,2,3]]
for i in l:
    if type(i)==float:
        print(i)

3.4

In [34]:
l=[1,2,3.4,4+3j,[1,2,3,"jeetu"]]
for i in l:
    if type(i)==int:
        print(i)
    elif type(i)==list:
       for j in i:
            if type(j)==int:
                print(j)

1
2
1
2
3

In [49]:
l=[1,2,4,4,"akshu",3.4,4+3j,[1,2,3,"jeetu"]]
len(l)

8

In [84]:
for i in range (len(l)):
    print("index",i,"is",l[i])

index 0 is 1
index 1 is 2
index 2 is 4
index 3 is 4
index 4 is akshu
index 5 is 3.4
index 6 is (4+3j)
index 7 is [1, 2, 3, 'jeetu']

In [50]:
for i in enumerate(l):
    print(i)

(0, 1)
(1, 2)
(2, 4)
(3, 4)
(4, 'akshu')
(5, 3.4)
(6, (4+3j))
(7, [1, 2, 3, 'jeetu'])

In [51]:
for i,j in enumerate(l):
    print(i,j)

0 1
1 2
2 4
3 4
4 akshu
5 3.4
6 (4+3j)
7 [1, 2, 3, 'jeetu']

In [52]:
l

[1, 2, 4, 4, 'akshu', 3.4, (4+3j), [1, 2, 3, 'jeetu']]

In [80]:
for i in (l):
    if type(i)==str:
        l1=[]
        for j in (i):
            l1.append(j)
        print(l1)

['a', 'k', 's', 'h', 'u']

In [75]:
l2=[]
for i in l:
    if type(i)==int:
        l2.append(i**2)

In [76]:
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
print('spam')
print('spam')

[1, 4, 16, 16]

In [97]:
for i in range(10):
    if i%2 == 0:
        print("Here...")
        continue
    if i== 7:
        break
    print(i)

Here...
1
Here...
3
Here...
5
Here...

In [98]:
list(range(3,10,-1))

[]

In [99]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [100]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [105]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

In [107]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [112]:
t=(1,2,24,5,55)
for i in t:
    print(i)

1
2
24
5
55

In [114]:
s="akshu"
for i in s:
    print(i)

a
k
s
h
u

In [116]:
for i in range(len(t)):
    print(i,t[i])

0 1
1 2
2 24
3 5
4 55

In [117]:
t

(1, 2, 24, 5, 55)

In [118]:
t[::-1]

(55, 5, 24, 2, 1)

In [123]:
for i in range(len(t)-1,0-1,-1):
    print(t[i])

55
5
24
2
1

In [125]:
d={"a":"djdj","b":[1,2,4,5,6],"c":(1,3,4,2,6),"d":"jeetu"}
for i in d:
    print(i)

a
b
c
d

In [126]:
d["c"]

(1, 3, 4, 2, 6)

In [127]:
for i in d:
    print(i,d[i])

a djdj
b [1, 2, 4, 5, 6]
c (1, 3, 4, 2, 6)
d jeetu

In [128]:
for i in d.items():
    print(i)

('a', 'djdj')
('b', [1, 2, 4, 5, 6])
('c', (1, 3, 4, 2, 6))
('d', 'jeetu')

In [132]:
 s={1,2,3,5,3,4,6,9,5,7,7}

In [133]:
s

{1, 2, 3, 4, 5, 6, 7, 9}

In [134]:
for i in s:
    print(i)

1
2
3
4
5
6
7
9

In [137]:
for i in range(5):
    print("num")
    if i==2:
        continue;
    print(i)

num
0
num
1
num
num
3
num
4

In [139]:
a=10
for i in range(1,a):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********

In [140]:
s="My name is akshata"
len(s)

18

In [143]:
count=0
for i in s:
    count=count+1
print(count)

18

In [144]:
s[::-1]

'atahska si eman yM'

In [148]:
for i in range(len(s)-1,0-1,-1):
    print(s[i])

a
t
a
h
s
k
a

s
i

e
m
a
n

y
M

In [149]:
s="akshata"
v="AaEeIiOoUu"
for i in s:
    if i in v:
        print("vowel",i)
    else:
        print("not vowel",i)

vowel a
not vowel k
not vowel s
not vowel h
vowel a
not vowel t
vowel a

In [152]:
"u" in "akshata"

False

In [154]:
"a"in "akshata"

True

In [155]:
s=input()
v=s[::-1]
if s==v:
    print("palindrome",s)
else:
    print("not palindrome",s)

eye
palindrome eye

In [156]:
s=input()
v=s[::-1]
if s==v:
    print("palindrome",s)
else:
    print("not palindrome",s)

jeetu
not palindrome jeetu

In [157]:
d={"india":"IN","canada":"CA","united states":"UA"}
"india"in d

True

In [158]:
l_smaller=[]
l_greater=[]
for i in d:
    if len(i)<=5:
        l_smaller.append(i)
    else:
        l_greater.append(i)

In [159]:
l_smaller

['india']

In [160]:
l_greater

['canada', 'united states']

In [167]:
d={"akshata":{"a":10,"b":12,"c":3},"jeetu":{"d":45,"e":11,"f":2}}
l=[]
for i in d.values():
    for j in i.values():
        l.append(j)
    print(max(l))

12
45

In [168]:
for i in d.values():
    print(max(i.values()))

12
45

In [4]:
d={"akshata":{"a":10,"b":12,"c":3},"jeetu":{"d":45,"e":11,"f":2},"g":78,"h":[1,2,3],"i":(4,5,6),"j":"akshu"}
l=[]
for i in d.values():
    if type(i)==int:
        l.append(i)
    elif type(i)==str or type(i)==tuple:
        l.append(i)
    elif type(i)==dict:
        for j in i.values():
            l.append(j)
print(max(l))

TypeError: '>' not supported between instances of 'tuple' and 'int'